<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>Home</title>

        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="keywords" content="application, fulltime, job, web developer" />

        <link rel="stylesheet" href="../stylesheets/styles/styles.css"  type="text/css">

    </head>
    <body>
        <article>
            <header class="contains">
                <nav>
                    <ul>
                        <li>
                            <a href="About.html">About</a>
                        </li>
                        <li>
                            <a href="Services.html">Services</a>
                        </li>
                        <li>
                            <a href="Contact.html">Contact</a>
                        </li>

                        <li>
                            <a href="mediaCenter.html">Media Center</a>
                        </li>

                        <li>
                            <a href="Global Site.html">Global Site</a>
                        </li>

                        <li>
                            <input id="search-bar" name="search" type="text" placeholder="Search">
                            <input id="search-button" name="search_submit" type="submit" value="Search">
                        </li>
                    </ul>
                </nav>
                <div class="rows">
                    <figure class="column-md-12 column-lg-12">
                        <img src="../images/logo2.jpg" class="responsive-image ">
                    </figure>
                </div>
            </header>
            <section>
                <article>
                    <header></header>
                    <section>
                        <div class="contains">
                            <div class="rows">
                                <div class="box  column-xs-12 column-sm-6 column-md-3 column-lg-3">
                                    <img src="../images/image.jpg">
                                </div>&nbsp;&nbsp;
                                &nbsp;&nbsp;
                                <div class="box column-xs-12 column-sm-6 column-md-3 column-lg-2">
                                    <form name="Profile">
                                        <div>
                                            <a href="My_Profile.html">Create your profile </a><br> <br/>
                                            <a href="Discover.html">Discover our culture </a><br><br />
                                            <a href="View.html">View our benefits</a><br><br />
                                            <a href="Enhance.html">Enhance your skills</a><br><br />
                                            <a href="activate.html">Activate career alerts</a>
                                        </div>
                                    </form>
                                    <br />
                                </div>&nbsp;&nbsp;
                                &nbsp;&nbsp;

                                <div class="box column-xs-12 column-sm-12 column-md-6 column-lg-4">
                                    <form name="opportunities">
                                        <div>
                                            <h4>Current Openings</h4>
                                            <nav>
                                                <ul>
                                                    <li>
                                                        <a href="/Network Security Specialist">Network Security Specialist  (CA)</a>
                                                    </li>
                                                    <br />
                                                    <li>
                                                        <a href="/Web Application Developer">Web Application Developer  (MO)</a>
                                                    </li>
                                                    <br />

                                                    <li>
                                                        <a href="/Oracle DB Database Engineer">Oracle DB Database Engineer  (CT)</a>
                                                    </li>
                                                    <br />
                                                    <li>
                                                        <a href="/Microsoft System Engineer">Microsoft System Engineer  (UT)</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                    </form>
                                </div>&nbsp;&nbsp;
                                &nbsp;&nbsp;

                                <div class="box column-xs-12 column-sm-12 column-md-12 column-lg-3">
                                    <form name="login">
                                        <h3>Login</h3>

                                        <div>
                                            <label for="userName">User Name </label>
                                            <input type="text" id="userName" name="userName" required/>
                                        </div>
                                        <br />

                                        <div>
                                            <label for="password">Password</label>
                                            <input type="password" id="password" name="password" required/>
                                        </div>
                                        <br />

                                        <div>
                                            <input type="checkbox" id="rememberPassword" name="rememberPassword" />
                                            <label for="rememberPassword">Remember Password</label>
                                        </div>

                                        <button onclick="location.href='Careers.html'" type="submit" id="submit">
                                            <span>Login</span>
                                        </button>

                                        <button type="reset" id="reset">
                                            <span>Cancel</span>
                                        </button>
                                        <br><br />
                                    </form>
                                </div>&nbsp;&nbsp;
                                &nbsp;&nbsp;
                            </div>
                        </div>
                    </section>
                    <footer id="nav-footer">
                        <div>
                            <nav>
                                <label>
                                    <b> Follow Us </b>
                                </label>

                                <li class="linkedin">
                                    <a target="_blank" title="follow me on lindedin" href="http://www.linkedin.com">
                                        <img src="../images/linkedin.png" width="40px" height="40px"></a>

                                </li>

                                <li class="facebook">
                                    <a target="_blank" title="follow me on facebook" href="http://www.facebook.com">
                                        <img src="../images/facebook.png" width="40px" height="40px"></a>
                                </li>

                                <li class="twitter">
                                    <a target="_blank" title="follow me on twitter" href="http://www.twitter.com">
                                        <img src="../images/twitter.png" width="40px" height="40px"></a>
                                </li>

                                <li class="plusgoogle">
                                    <a target="_blank" title="follow me on plusgoogle" href="http://www.plusgoogle.com">
                                        <img src="../images/plus google.jpg" width="40px" height="40px"></a>
                                </li>

                                <li class="youtube">
                                    <a target="_blank" title="follow me on youtube" href="http://www.youtube.com">
                                        <img src="../images/youtube.png" width="40px" height="40px"></a>
                                </li>
                                <br/><br/>
                                <br/>
                                <br/>
                            </nav>
                        </div>
                    </footer>
                </article>
            </section>
            <footer id="main-footer">
                <div>
                    <nav>
                        <ul>
                            <li>
                                <a href="Legal.html">Legal</a>
                            </li>

                            <li>
                                <a href="Privacy.html">Privacy</a>
                            </li>

                            <li>
                                <a href="Accessibility.html">Accessibility</a>
                            </li>

                            <li>
                                <a href="siteMap.html">Site Map</a>
                            </li>

                            <li>
                                <a href="Investors.html">Investors</a>
                            </li>

                            <li>
                                <a href="Find an Office.html">Find an Office</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </footer>
        </article>
    </body>
</html>