<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="keywords" content="application, fulltime, job, web developer" />

        <link rel="stylesheet" href="../stylesheets/styles/styles.css">
    </head>
    <body>
        <header class="container">
            <nav>
                <ul>
                    <li>
                        <a href="About.html">About</a>
                    </li>
                    <li>
                        <a href="Services.html">Services</a>
                    </li>
                    <li>
                        <a href="Contact.html">Contact</a>
                    </li>

                    <li>
                        <a href="mediaCenter.html">Media Center</a>
                    </li>

                    <li>
                        <a href="Global Site.html">Global Site</a>
                    </li>

                    <li>
                        <input id="search-bar" name="search" type="text" placeholder="Search">
                        <input id="search-button" name="search_submit" type="submit" value="Search">
                    </li>
                </ul>
            </nav>
            <div class="row">
                <figure class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="../images/logo2.jpg">
                </figure>
            </div>
        </header>
        <section>
            <article>
            <ol class="breadcrumb">
                <li>
                    <a href="Home.html">Home</a>
                </li>

                <li>/  Careers</li>
            </ol>


            <div class="contains">
                <div class="rows">
                    <div class="box column-xs-6 column-sm-6 column-md-6 column-lg-6 ">
                        <form name="careers">
                            <a href="Current_Opportunities.html">Search Current Oppotunities</a><br />
                            <a href="Geography_Search.html">Search by Geography</a><br />
                            <a href="Read_FAQ.html">Read FAQ</a><br />
                        </form>
                    </div>
                </div>
            </div>
            </article>
        </section>
        <footer id="nav-footer">
            <nav>
                <label>
                    <b> Follow Us </b>
                </label>

                <li class="linkedin">
                    <a target="_blank" title="follow me on lindedin" href="http://www.linkedin.com">
                        <img src="../images/linkedin.png" width="40px" height="40px"></a>

                </li>

                <li class="facebook">
                    <a target="_blank" title="follow me on facebook" href="http://www.facebook.com">
                        <img src="../images/facebook.png" width="40px" height="40px"></a>
                </li>

                <li class="twitter">
                    <a target="_blank" title="follow me on twitter" href="http://www.twitter.com">
                        <img src="../images/twitter.png" width="40px" height="40px"></a>
                </li>

                <li class="plusgoogle">
                    <a target="_blank" title="follow me on plusgoogle" href="http://www.plusgoogle.com">
                        <img src="../images/plus google.jpg" width="40px" height="40px"></a>
                </li>

                <li class="youtube">
                    <a target="_blank" title="follow me on youtube" href="http://www.youtube.com">
                        <img src="../images/youtube.png" width="40px" height="40px"></a>
                </li>
                <br/><br/>
                <br/>
                <br/>
            </nav>

        </footer>
        <footer id="main-footer">
            <nav>

                <ul>
                    <li>
                        <a href="Legal.html">Legal</a>
                    </li>

                    <li>
                        <a href="Privacy.html">Privacy</a>
                    </li>

                    <li>
                        <a href="Accessibility.html">Accessibility</a>
                    </li>

                    <li>
                        <a href="siteMap.html">Site Map</a>
                    </li>

                    <li>
                        <a href="Investors.html">Investors</a>
                    </li>

                    <li>
                        <a href="Find an Office.html">Find an Office</a>
                    </li>
                </ul>
            </nav>
        </footer>

    </body>
</html>